<br xmlns:https="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml"><br>
<body style="background-color: black">

<div class="jumbotron text-center" style="background-color: #421200" >
  <br>
  <h1 style="font-family: Allan">Bank Information</h1>

</div>
<br><br><div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-4 col-md-offset-3">
    <style>
      #form{
        background-color: #190a14;
      }
    </style>
    <div class="col-sm-12" id="form">
      <h2 class="text-center" style="color: #190a14">.......................</h2>
      <form autocomplete="off" style="color: #8a8d92" >
<p>“Contributing to economic development through the building up of a poverty free prosperous country by empowering disadvantaged people (economically, socially, politically, physically, psychologically, legally and environmentally) and minimizing regional disparity through delivering effective, efficient, speedy and productive solutions in a people friendly manner through the satisfactory contribution of the network of Departmental, Community Based Organizations and Micro-Finance Institutions and professionals with the collaboration of the private, public, people and political sectors and local and global agencies.“
<p>
        History:-

        <a style="font-size: 10px">https://www.samurdhi.gov.lk/web/images/stories/publications/english/dawn_of_a_new_era.pdf</a>
        lunDawn of a New Era (Published on  December 1994)</p>




      </form>
      <h2 class="text-center" style="color: #190a14">.......................</h2>
    </div>
  </div>
  <div class="col-md-5">
  </div>
</div>
</body>

