

<div class="row" style="background-color: black">
  <div class="col-md-3">
  </div>
  <app-account ></app-account>
  <style>
    #form{
      background-color: #190a14;
    }
    #cr{
      color: #8a8d92;
    }
    input{
      color: black;
    }
  </style>
<div class="col-md-6 col-md-offset-3" id="form">
  <div class= "jumbotron" id="form">
    <h2 class="text-center" style="color: #8a8d92">Manage Group Account</h2>
    <br/>
<div>
  <table class="table table-striped table-bordered">
    <tr style="color: #8a8d92">
      <th>Group ID</th>
      <th>Account No.1</th>
      <th>Account No.2</th>
      <th>Account No.3</th>
      <th>Account No.4</th>
      <th>Account No.5</th>
      <th>Balance</th>
      <th></th>
    </tr>
    <tr *ngFor="let gpaccount of gpaccounts" id="cr">
      <td>{{ gpaccount.groupID }}</td>
      <td>{{ gpaccount.accountno1 }}</td>
      <td>{{ gpaccount.accountno2 }}</td>
      <td>{{ gpaccount.accountno3 }}</td>
      <td>{{ gpaccount.accountno4 }}</td>
      <td>{{ gpaccount.accountno5 }}</td>
      <td>{{ gpaccount.balancegp }}</td>
      <td>
        <button style="background-color: #6d747e" (click)="selectAccount(gpaccount)" >Edit</button>
        <button style="background-color: #6d747e" (click)="deleteGpAccount(gpaccount.accountno1 )">Delete</button>
      </td>
    </tr>
  </table>
  <form #f = "ngForm" style="color: #8a8d92" id="form">
    <label>Group ID</label>
    <input type="text" name="Group ID" [(ngModel)] = "selectedAccount.groupID">
    <br>
    <label>Account No 1</label>
    <input type="text" name="Account No 1" [(ngModel)] = "selectedAccount.accountno1">
    <br>
    <label>Account No 2</label>
    <input type="text" name="Account No 2" [(ngModel)] = "selectedAccount.accountno2">
    <br>
    <label>Account No 3</label>
    <input type="text" name="Account No 3" [(ngModel)] = "selectedAccount.accountno3">
    <br>
    <label>Account No 4</label>
    <input type="text" name="Account No 4" [(ngModel)] = "selectedAccount.accountno4">
    <br>
    <label>Account No 5</label>
    <input type="text" name="Account No 5" [(ngModel)] = "selectedAccount.accountno5">
    <br>
    <label>Balance</label>
    <input type="text" name="Balance" [(ngModel)] = "selectedAccount.balancegp">
    <br>
    <label *ngIf="valid" style="color: seashell">Account Updated...</label>
    <label *ngIf="invalid" style="color: seashell">Account Deleted...</label><br>
    <input style="background-color: #6d747e" type="button" (click)="UpdateAccount(f)" value="Update Account">
  </form>
</div>
  </div>
</div>

</div>
