
<div class="row" style="background-color: black">
  <div class="col-md-3">
  </div>
  <app-createloan></app-createloan>

  <style>
    #form{
      background-color: #190a14;
    }
  </style>

  <div class="col-md-4 col-md-offset-4" id="form"  >
    <div class="jumbotron" id="form">
      <h2 class="text-center" style="color: #8a8d92">Pay Installment</h2>
      <form [formGroup]="angFormpay" (ngSubmit)="postdata(angFormpay)" autocomplete="off" id="form" style="color: #8a8d92" >
        <div class="form-group">
          <label for="accountno">Account No</label>
          <input type="text" name="accountno" formControlName="accountno" autocomplete="off" class="form-control input-sm" >
        </div>
        <div class="form-group">
          <label for="loanID">Loan Number</label>
          <input type="text" name="loanID" formControlName="loanID" autocomplete="off" class="form-control input-sm" >
        </div>
        <div class="form-group">
          <label for="remainingmonths">Remaining Month(s)</label>
          <input type="number" name="remainingmonths" formControlName="remainingmonths" autocomplete="off" class="form-control input-sm" >
        </div>
        <div class="form-group">
          <label for="payamount">Installment</label>
          <input type="number" name="payamount" formControlName="payamount" autocomplete="off" class="form-control input-sm" >
        </div>
        <div class="form-group">
          <label for="nextpaydate">Date</label>
          <input type="date" name="nextpaydate" formControlName="nextpaydate" autocomplete="off" class="form-control input-sm" >
        </div>


        <button style="background-color: #6d747e"  type="submit" class="btn btn-success" >Pay</button>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
