
<div class="row" style="background-color: black">
  <div class="col-md-3">

  </div>
  <app-custdashboard></app-custdashboard>

  <style>
    #form{
      background-color: #190a14;
    }
  </style>

  <div class="col-md-4 col-md-offset-4" id="form"  >
    <div class="jumbotron" id="form">
      <h2 class="text-center" style="color: #8a8d92">Request Loan </h2>

      <form [formGroup]="angFormloanreq" (ngSubmit)="postdata(angFormloanreq)" autocomplete="off" id="form" style="color: #8a8d92"  >
        <div class="form-group">
          <label for="reqloantype">Loan Type</label>
          <select type="text" name="reqloantype" formControlName="reqloantype" autocomplete="off" class="form-control input-sm" placeholder="Category">
            <option>a</option>
            <option>b</option>
          </select>
        </div>
        <div class="form-group">
          <label for="reqloanamount">Loan Amount</label>
          <input type="number" name="reqloanamount" formControlName="reqloanamount" autocomplete="off" class="form-control input-sm" >
        </div>
        <div class="form-group">
          <label for="reqdate">Date</label>
          <input type="date" name="reqdate" formControlName="reqdate" autocomplete="off" class="form-control input-sm" >
        </div>
        <label *ngIf="valid" style="color: seashell">Loan Requested...</label>
        <label *ngIf="invalid" style="color: seashell">Not Enough Money In Group Acc or Share Acc</label><br>
        <button style="background-color: #6d747e"  type="submit" class="btn btn-success" >Request</button>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

