<body style="background-color: #421200"><br><br><br>
<div class="container bar" >
  <label class="floatLeft" for="navBtn"><span></span></label>

</div>
<div class="container" style="background-color: #421200">
  <input type="checkbox" class="navBtn" id="navBtn" />
  <nav>
    <ul>
      <li>
        <a class="" routerLink="/handlereq" routerLinkActive="active">Handle Loan Request</a>
      </li>
      <li>
        <a class="" routerLink="/registration" routerLinkActive="active">Account</a>
      </li>
      <li>
        <a class="" routerLink="/managerloan" routerLinkActive="active">Loan Installments</a>
      </li>
      <li>
        <a class="" routerLink="/custinfo" routerLinkActive="active">Customer Info</a>
      </li>
      <li>
        <a class="" routerLink="/report" routerLinkActive="active">View Reports</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>

</body>
