
<div class="row">
  <app-transaction></app-transaction>
  <div class="col-md-3">
  </div>


  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <form #d = "ngForm" >
        <div>
          <label for="groupID">Group ID</label>
          <input type="text" name="groupID"  autocomplete="off" class="form-control input-sm" [(ngModel)]="selectedAccount.groupID">
        </div>
        <div>
          <label for="transgp">Transaction Amount</label>
          <input type="number" name="transgp" autocomplete="off" class="form-control input-sm" [(ngModel)]="selectedAccount.balancegp">
        </div>
        <div>
          <label for="accnodepgp">Deposit From (Account No)</label>
          <input type="text" name="accnodepgp"  autocomplete="off" class="form-control input-sm" >
        </div>
        <div>
          <label for="ddate">Date</label>
          <input type="date" name="ddate"  autocomplete="off" class="form-control input-sm" >
        </div>

        <button type="submit" class="btn btn-success" (click)="depositamountgp(d)" >Deposit</button>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

