<p>Conditions for Loan Request.</p>
  <p>Maximum Loan Value is 500000/=
 <p> •        The particular group should not contain two proceeding loans (not paid).</p>
<p>  • The group account balance should be greater than 25% of the requested loan amount. </p>
<p> • The share account balance should be greater than 10% of the requested loan amount.</p>
<p> Currently the bank records its transactions using a manual file system and recorded transactions are transferred to an excel sheet by the two employees. Bank assistant is allowed only to handle cash deposits and cash withdrawals. Bank Manager can handle lending transactions and incurring loan installments.</p>
