
<div class="row">
  <div class="col-md-3">
  </div>
  <app-transaction></app-transaction>

  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <form #d = "ngForm">
        <div >
          <label for="shareID">Share ID</label>
          <input type="text" name="shareID"  autocomplete="off" class="form-control input-sm" [(ngModel)]="selectedAccount.shareID">
        </div>
        <div class="form-group">
          <label for="transshare">Transaction Amount</label>
          <input type="number" name="transshare"  autocomplete="off" class="form-control input-sm" [(ngModel)]="selectedAccount.balanceshare" >
        </div>
        <div >
          <label for="ddate">Date</label>
          <input type="date" name="ddate" autocomplete="off" class="form-control input-sm" >
        </div>

        <button type="submit" class="btn btn-success" (click)="depositamountshare(d)" >Deposit</button>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

