<body style="background-color: #421200"><br><br><br>
<div class="container bar" >
  <label class="floatLeft" for="navBtn"><span></span></label>

</div>
<div class="container" style="background-color: #421200">
  <input type="checkbox" class="navBtn" id="navBtn" />
  <nav>
    <ul>
      <li>
        <a class="" routerLink="/registration" routerLinkActive="active">Account</a>
      </li>
      <li>
        <a class="" routerLink="/deposit" routerLinkActive="active">Transaction</a>
      </li>
      <li>
        <a class="" routerLink="/loan" routerLinkActive="active">Loan</a>
      </li>
      <li>
        <a class="" routerLink="/custinfo" routerLinkActive="active">Customer Info</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>

</body>
