<br><br><br>
<div class="container bar">
  <label class="floatLeft" for="navBtn"><span></span></label>

</div>
<div class="container">
  <input type="checkbox" class="navBtn" id="navBtn" />
  <nav>
    <ul>
      <li>
        <a class="" routerLink="/viewbalance" routerLinkActive="active">View Account Balance</a>
      </li>
      <li>
        <a class="" routerLink="/viewloan" routerLinkActive="active">View Loan</a>
      </li>
      <li>
        <a class="" routerLink="/reqloan" routerLinkActive="active">Request Loan</a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>


