
<div class="row" style="background-color: black">
  <div class="col-md-3">

  </div>
  <app-transaction></app-transaction>

  <style>
    #form{
      background-color: #190a14;
    }
  </style>

  <div class="col-md-4 col-md-offset-4" id="form"  >
    <div class="jumbotron" id="form">
      <h2 class="text-center" style="color: #8a8d92">Withdraw Money </h2>
      <form #w = "ngForm" [formGroup]="angFormtransav"  (ngSubmit)="postdata(angFormtransav)" id="form" style="color: #8a8d92">
        <div >
          <label for="accountno">Account Number</label>
          <input type="text" name="accountno"  autocomplete="off" formControlName="accountno" class="form-control input-sm" [(ngModel)]="selectedAccount.accountno">
        </div>
        <div >
          <label for="amount">Transaction Amount</label>
          <input type="number" name="amount"  autocomplete="off" formControlName="amount" class="form-control input-sm" [(ngModel)]="selectedAccount.balance" >
        </div>
        <div >
          <label for="datetrans">Date</label>
          <input type="date" name="datetrans" autocomplete="off" formControlName="datetrans" class="form-control input-sm" >
        </div>
<br>
        <label *ngIf="invalid" style="color: seashell">Not Enough Money...</label>
        <label *ngIf="valid" style="color: seashell">Account Updated...</label><br>
        <button style="background-color: #6d747e"  type="submit" class="btn btn-success" (click)="withdrawamount(w)" >Withdraw</button>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>


