
<div class="row">
  <div class="col-md-3">
  </div>
  <app-transaction></app-transaction>

  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <form [formGroup]=""   autocomplete="off" >
        <div class="form-group">
          <label for="accountno">Account Number</label>
          <input type="text" name="accountno" formControlName="accountno" autocomplete="off" class="form-control input-sm" >
        </div>
        <div class="form-group">
          <label for="trans">Transaction Amount</label>
          <input type="text" name="trans" formControlName="trans" autocomplete="off" class="form-control input-sm" >
        </div>
        <div class="form-group">
          <label for="wdate">Date</label>
          <input type="date" name="wdate" formControlName="wdate" autocomplete="off" class="form-control input-sm" >
        </div>

        <button type="submit" class="btn btn-success" >Withdraw</button>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>


