<br><br>

<head style="background-color: #2a0608">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body style="background-color: black">
<div class="jumbotron text-center" style="background-color: #421200" >
  <br>
  <h1 style="font-family: Allan">Welcome To Samurdhi Bank</h1>
  <p style="font-family: 'Anonymous Pro'">Chavachcheri</p>
  <p style="font-family: 'Anonymous Pro'">WE ARE HERE</p>
</div>



<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4" >
      <h2>About Us</h2>
      <div  ><img class="img-responsive" src="assets/download.png"></div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <br><br><br><br><br><br><br><br>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8" style="background-color: #190a14">
      <style>
        #acc
        {
          color: #6d747e;
          font-size: 34px;
        }
        #acccre
        {
          color: #6d747e;
          font-size: 34px;
        }
      </style>

      <a id="acc" routerLink="/customerlogin">DO YOU HAVE AN ACCOUNT? Login HERE...</a><br>
      <a id="acccre" routerLink="/createcus">IF NOT, Click HERE...</a>
      <p style="font-size: 20px">=>Check Your Balance</p>
      <p style="font-size: 20px">=>Check Installments</p>
      <p style="font-size: 20px">=>Request Loan</p>
      <p style="font-size: 20px">=>And Many More..</p>

      <br>
      <div class="fakeimg"><img class="img-responsive" src="assets/loaninfo.png"></div>

      <a style="font-size: 20px" routerLink="/loaninfo">LOAN INFORMATION</a>

      <div class="fakeimg">

      </div>

    </div>
  </div>
</div>
</body>
